<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="col-md-8 col-md-offset-1">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>书名</th>
                <th>价格</th>
                <th>出版时间</th>
                <th>出版社</th>
                <th>作者</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for book in books_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.publishDate|date:"Y-m-d" }}</td>
                    <td>{{ book.publish.name }}</td>
                    <td>
                        {% for author in book.authors.all %}
                            {% if forloop.last %}
                                <span>{{ author.name }}</span>
                            {% else %}
                                <span>{{ author.name }}</span>,
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/books/{{ book.pk }}/editbook/" class="btn bg-info">编辑</a>
                        <a href="/books/{{ book.pk }}/delete/" class="btn btn-danger">删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        
    </div>
</div>
</body>
</html>