@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1633170133731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\344b";
}

.icon-shenghuohuafeichongzhi:before {
  content: "\e647";
}

.icon-shouye:before {
  content: "\e643";
}

.icon-miyao:before {
  content: "\e623";
}

.icon-simqia:before {
  content: "\e728";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-shizhong:before {
  content: "\e78b";

}

.icon-Group-:before {
  content: "\e6ae";
}

.icon-sousuo:before {
  content: "\eafe";
}

