<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>欢迎注册</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <style>
    .label-img {
      width: 80px;
      height: 80px;
      margin-left: 15px;
    }
  </style>
</head>
<body>

<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="/reg/" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form_obj.username.id_for_label }}">{{ form_obj.username.label }}</label>
          {{ form_obj.username }}
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <label for="{{ form_obj.password.id_for_label }}">{{ form_obj.password.label }}</label>
          {{ form_obj.password }}
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <label for="{{ form_obj.re_password.id_for_label }}">{{ form_obj.re_password.label }}</label>
          {{ form_obj.re_password }}
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <label for="{{ form_obj.phone.id_for_label }}">{{ form_obj.phone.label }}</label>
          {{ form_obj.phone }}
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <label for="avatar">头像<img src="/static/img/default.png" alt="" class="label-img"></label>
          <input accept="image/*" type="file" name="avatar" id="avatar" style="display: none">
        </div>
        <div class="form-group">
          <label for="id_valid_code" style="display: block">验证码</label>
          <input type="text" class="form-control" style="width: 250px; display: inline" id="id_valid_code" name="valid_code">
          <img src="/get_valid_pic/" alt="" style="height: 35px; width: 250px;float: right">
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <input type="button" class="btn btn-default" value="注册" id="reg-button">
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/static/jquery-3.2.1.min.js"></script>
<script>
  $("#reg-button").on("click", function () {
    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
    formData.append("username", $("#id_username").val());
    formData.append("password", $("#id_password").val());
    formData.append("re_password", $("#id_re_password").val());
    formData.append("phone", $("#id_phone").val());
    formData.append("avatar", $("#avatar")[0].files[0]);
    formData.append("valid_code", $("#id_valid_code").val());
    $.ajax({
      url: "/reg/",
      type: "post",
      processData: false,  // 告诉jQuery不要去处理发送的数据
      contentType: false,  // 告诉jQuery不要去设置Content-Type请求头
      data: formData,
      success: function (data) {
        if (data.status){
          // 校验有错误
          $.each(data.msg, function (k, v) {
            $("#id_"+k).parent().addClass("has-error").find(".help-block").text(v[0]);
          })
        }else {
          location.href=data.msg;
        }
      }
    })
  });

  // 给每个input框绑定获取焦点之后清除之前错误提示的事件
  $("input.form-control").on("focus", function () {
    $(this).parent().removeClass("has-error").find(".help-block").text("");
  });

  // 点击图片刷新验证码
  $("#id_valid_code+img").on("click", function () {
    this.src += "?";
  });

  // 头像预览功能，当avatar input框的值发生变化时出发事件
  $("#avatar").change(function () {
    // 从本地读取文件
    var filePath = $(this)[0].files[0];
    var fileReader = new FileReader();
    fileReader.readAsDataURL(filePath);  // 读是需要时间的
    fileReader.onload = function () {
      $(".label-img").attr("src", fileReader.result);
    };

  })
</script>
</body>
</html>