{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datetimepicker/bootstrap-datetimepicker.min.css' %}">
    <style>
        body {
            font-size: 10px;
        }

        .shade {
            position: fixed;
            z-index: 1040;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #999;
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            opacity: 0.5;
        }

        .loading {
            position: fixed;
            z-index: 1050;
            top: 40%;
            left: 50%;
            height: 32px;
            width: 32px;
            margin: 0 0 0 -16px;
            background: url(/static/img/loading.gif);
        }

        table > tbody td {
            height: 80px;
            width: 80px;
            text-align: center;
        }

        table > tbody td.chosen {
            background-color: #F0FFF0;
        }

        table > tbody td.selected {
            background-color: #EEE685;
        }
    </style>
</head>
<body>

<div class="container">

    <h1>会议室预定</h1>
    <div class="clearfix" style="padding: 10px 0;float: right">
        <div style="float: left;color: red" id="errors"></div>
        <div class='input-group' style="width: 230px;float:left;">
            <input type='text' class="form-control" id='datetimepicker11' placeholder="请选择日期"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
        <div style="padding: 0 5px;float: left">
            <a id="save" href="#" class="btn btn-primary">保存</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>会议室</th>
            {% for choice in time_choices %}
                <th>{{ choice.1 }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody id="tBody">

        </tbody>
    </table>
</div>


<!-- 遮罩层开始 -->
<div id='shade' class='shade hide'></div>
<!-- 遮罩层结束 -->
<!-- 加载层开始 -->
<div id='loading' class='loading hide'></div>
<!-- 加载层结束 -->


<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js' %}"></script>
<script>

    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };
    SELECTED_ROOM = {del: {}, add: {}};
    CHOSEN_DATE = new Date().Format('yyyy-MM-dd');

    $(function () {
        initDatepicker();
        initBookingInfo(new Date().Format('yyyy-MM-dd'));
        bindTdEvent();
        bindSaveEvent();
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            }
        }
    });

    function initDatepicker() {
        $('#datetimepicker11').datetimepicker({
            minView: "month",
            language: "zh-CN",
            sideBySide: true,
            format: 'yyyy-mm-dd',
            bootcssVer: 3,
            startDate: new Date()
            //autoclose: true,
        }).on('changeDate', changeDate);
    }

    function changeDate(ev) {
        CHOSEN_DATE = ev.date.Format('yyyy-MM-dd');
        initBookingInfo(CHOSEN_DATE);

    }

    function initBookingInfo(date) {
        SELECTED_ROOM = {del: {}, add: {}};

        $('#shade,#loading').removeClass('hide');
        $.ajax({
            url: '/booking/',
            type: 'get',
            data: {date: date},
            dataType: 'JSON',
            success: function (arg) {
                $('#shade,#loading').addClass('hide');
                if (arg.code === 1000) {
                    $('#tBody').empty();
                    $.each(arg.data, function (i, item) {
                        var tr = document.createElement('tr');
                        $.each(item, function (j, row) {
                            var td = document.createElement('td');
                            $(td).text(row.text);

                            $.each(row.attrs, function (k, v) {
                                $(td).attr(k, v);
                            });
                            if (row.chosen) {
                                $(td).addClass('chosen');
                            }
                            $(tr).append(td)
                        });
                        $('#tBody').append(tr);
                    })
                } else {
                    alert(arg.msg);
                }
            },
            error: function () {
                $('#shade,#loading').addClass('hide');
                alert('请求异常');
            }
        })
    }

    /*
     绑定预定会议室事件
     */
    function bindTdEvent() {
        $('#tBody').on('click', 'td[time-id][disable!="true"]', function () {

            var roomId = $(this).attr('room-id');
            var timeId = $(this).attr('time-id');

            //var item = {'roomId': $(this).attr('room-id'), 'timeId': $(this).attr('time-id')};

            if ($(this).hasClass('chosen')) {
                $(this).removeClass('chosen').empty();
                // 取消原来的预定
                //SELECTED_ROOM['del'].push(item);
                if (SELECTED_ROOM.del[roomId]) {
                    SELECTED_ROOM.del[roomId].push(timeId);
                } else {
                    SELECTED_ROOM.del[roomId] = [timeId];
                }

            } else if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                // 取消选择
                var timeIndex = SELECTED_ROOM.add[roomId].indexOf(timeId);
                if (timeIndex !== -1) {
                    SELECTED_ROOM.add[roomId].splice(timeIndex, 1);
                }
            } else {
                $(this).addClass('selected');
                // 选择
                if (SELECTED_ROOM.add[roomId]) {
                    SELECTED_ROOM.add[roomId].push(timeId);
                } else {
                    SELECTED_ROOM.add[roomId] = [timeId];
                }
            }
        })
    }

    /*
     保存按钮
     */
    function bindSaveEvent() {
        $('#errors').text('');

        $('#save').click(function () {
            $('#shade,#loading').removeClass('hide');
            $.ajax({
                url: '/booking/',
                type: 'POST',
                data: {date: CHOSEN_DATE, data: JSON.stringify(SELECTED_ROOM)},
                dataType: 'JSON',
                success: function (arg) {
                    $('#shade,#loading').addClass('hide');
                    if (arg.code === 1000) {
                        initBookingInfo(CHOSEN_DATE);
                    } else {
                        $('#errors').text(arg.msg);
                    }
                }
            });
        });

    }


</script>
</body>
</html>