{% extends 'base.html' %}





{% block content %}

    {#    {% if it_obj %}#}
    {#        <div class="card card-primary">#}
    {#            <div class="card-header">#}
    {#            <a href="{% url 'add_it' %}">添加项目</a>#}
    {#        </div>#}
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>所属项目</th>
            <th>创建时间</th>
            <th>执行用例总数</th>
            <th>用例失败数</th>
            <th>用例报错数</th>
            <th>用例通过数</th>
            <th>通过率</th>
            <th>用例报告</th>
        </tr>
        </thead>
        <tbody>
        {% for foo in logs_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ foo.log_sub_it.it_name }}</td>
                <td>{{ foo.log_run_time }}</td>
                <td>{{ foo.log_run_count }}</td>
                <td>{{ foo.log_failed_count }}</td>
                <td>{{ foo.log_errors_count }}</td>
                <td>{{ foo.log_pass_count }}</td>
                <td>{{ foo.pass_rate }}</td>
                <td><a href="{% url 'preview' foo.pk %}">预览</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}