{% extends 'base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Index</a></li>
        <li class="breadcrumb-item active">项目列表</li>
    </ol>
{% endblock %}



{% block content %}
    {% if it_obj %}
        <div class="card card-primary">
            <div class="card-header">
            <a href="{% url 'add_it' %}">添加项目</a>
        </div>
            <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>用例数据</th>
                        <th>覆盖率</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for foo in it_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ foo.it_name }}</td>
                            <td>{{ foo.it_desc }}</td>
                            <td>{{ foo.it_start_time }}</td>
                            <td>{{ foo.it_end_time }}</td>
                            <td>{{ foo.api_set.count }}</td>
                            <td>{{ foo.xxoo }}</td>  <!--用例通过的数量 除以 总用例数量-->
                            <td>
                                <a href="{% url 'delete_it' foo.pk %}" class="btn btn-danger btn-sm">删除</a>
                                <a href="{% url 'edit_it' foo.pk %}" class="btn btn-info btn-sm">编辑</a>
                                <a href="{% url 'add_api' foo.pk %}" class="btn btn-warning btn-sm">添加用例</a>
                                <a href="{% url 'upload' foo.pk %}" class="btn btn-default btn-sm">批量导入</a>
                                <a href="{% url 'list_api' foo.pk %}" class="btn btn-success btn-sm">查看用例列表</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
            </table>
        </div>
    {% else %}
        没有数据，去 <a href="{% url 'add_it' %}">创建</a>
    {% endif %}

{% endblock %}











