<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>

<h3>编辑学生</h3>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="" method="post">
            {% csrf_token %}

            {% for studentModelFormField in studentModelFormObj %}

                <div class="form-group">
                    <label for="">{{ studentModelFormField.label }}</label>
                    <p>{{ studentModelFormField }}</p>
                </div>

            {% endfor %}


            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>

</body>
</html>