{% extends "student/base.html" %}



{% block content %}
    <section class="forms">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h4>编辑学生</h4>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <form action="" method="post">
                        <div class="form-group">
                            <label>姓名</label>
                            <input type="text" value="{{ edit_stu.name }}" placeholder="Name Address"
                                   class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label>年龄</label>
                            <input type="text" value="{{ edit_stu.age }}" placeholder="Age" class="form-control"
                                   name="age">
                        </div>

                        <div class="form-group">
                            <label>性别</label>
                            <select name="sex" id="" class="form-control">

                                {% if edit_stu.sex == 0 %}

                                    <option value="1">男</option>
                                    <option value="0" selected>女</option>
                                    <option value="2">保密</option>

                                {% elif edit_stu.sex == 1 %}
                                    <option value="1" selected>男</option>
                                    <option value="0">女</option>
                                    <option value="2">保密</option>
                                {% else %}

                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                    <option value="2" selected>保密</option>

                                {% endif %}


                            </select>
                        </div>

                        <div class="form-group">
                            <label>出生日期</label>
                            <input type="date" value="{{ edit_stu.birthday|date:'Y-m-d' }}" placeholder="Birth"
                                   class="form-control" name="birthday">
                        </div>

                        <div class="form-group">
                            <label>班级</label>
                            <select name="clas_id" id="" class="form-control">
                                {% for class in class_list %}
                                    {% if class == edit_stu.clas %}
                                        <option selected value="{{ class.id }}">{{ class.name }}</option>
                                    {% else %}
                                        <option value="{{ class.id }}">{{ class.name }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>


                       <div class="form-group">
                            <label>选修课程</label>
                            <select name="course_id_list" id="" class="form-control" multiple size="5">
                                {% for course in course_list %}

                                    {% if course in edit_stu.courses.all %}
                                         <option selected value="{{ course.id }}">{{ course.title }}</option>
                                    {% else %}
                                         <option class="" value="{{ course.id }}">{{ course.title }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Signin" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}