<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
    .box {
        width: 100px;
        height: 100px;
        background-color: red;
    }
    .wrap{
    	width: 200px;
    	height: 200px;
    	background-color: yellow;
    }
    .active{
    	background-color: green;
    }
    </style>
</head>

<body>
    <div id="app">
        <!-- <h3>{{msg}}</h3> -->
        <h3>{{msg}}</h3>
        <h2 v-text='msg2'></h2>
        <p v-html='msg2'></p>
        <div class="box" v-if='isShow'>
        </div>
        <div class="box" v-show='isShow'></div>
        <div v-if='Math.random() > 0.5'>
            此值大于0.5
        </div>
        <div v-else>
            此值小于0.5
        </div>
        <ul>
            <li v-for='(item,index) in menuList'>
                <h3>{{index}}--菜名:{{item.name}}</h3>
                <p>价格{{item.price}}</p>
            </li>
        </ul>
        <ul>
            <li v-for='(value,key) in object'>
                {{key}}--{{value}}
            </li>
        </ul>
        <div class="wrap" v-bind:class='{active:isGreen}'></div>
        <a v-bind:href="href">路飞</a>
        <!-- <img src="" alt=""> -->
    </div>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript">
    // innerHTML innerText
    new Vue({
        el: '#app',
        template: ``,
        data: {
            // 数据属性
            msg: 'hello 指令系统',
            msg2: '<a href="#">这是我的数据</a>',
            isShow: false,
            menuList: [
                // 数据驱动视图
                { id: 1, name: '大腰子', price: 60 },
                { id: 2, name: '宫保鸡丁', price: 30 },
                { id: 3, name: '炸黄花鱼', price: 70 },
                { id: 4, name: '炸黄花鱼2', price: 30 }
            ],
            object: {
                name: 'alex',
                age: 19,
                fav: '喜欢拍av'
            },
            isGreen:true,
            href:'https://www.luffycity.com/course'
        }
    });
    </script>
</body>

</html>