<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            {% if current_page_data.has_previous %}
            <a href="?page={{current_page_data.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% else %}
            <a aria-label="Previous" class="disabled">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
        </li>

        {% for i in page_range%}
        {% if i == current_page_num %}
        <li class="active"><a>{{i}}</a></li>
        {% else %}
        <li><a href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}

        <li>
            {% if current_page_data.has_next %}
            <a href="?page={{current_page_data.next_page_number}}" aria-label="Next"><span
                    aria-hidden="true">&raquo;</span></a>
            {% else %}
            <a aria-label="Next" class="disabled"><span aria-hidden="true">&raquo;</span></a>
            {% endif %}
        </li>
    </ul>
</nav>
