{% extends "student/base.html" %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>选课</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                      <form action="" method="post">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>序号</th>
                                <th>课程名称</th>
                                <th>讲师</th>
                                <th>学分</th>
                                <th>上课时间</th>
                                <th>上课教室</th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for course in course_list %}
                                    <tr>
                                        <td><input type="checkbox" value="{{ course.id }}" name="course_id_list"></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ course.title }}</td>
                                        <td>{{ course.teacher }}</td>
                                        <td>{{ course.credit }}</td>
                                        <td>{{ course.classTime }}</td>
                                        <td>{{ course.classAddr }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <p><input type="submit" class="btn btn-info pull-right"></p>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}