<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>欢迎登录</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <style>
    .login-error {
      color: red;
    }
  </style>
</head>
<body>

<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form novalidate>
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form_obj.username.id_for_label }}">{{ form_obj.username.label }}</label>
          {{ form_obj.username }}
        </div>
        <div class="form-group">
          <label for="{{ form_obj.password.id_for_label }}">{{ form_obj.password.label }}</label>
          {{ form_obj.password }}
        </div>
        <div class="form-group">
          <div id="popup-captcha"></div>
        </div>
        <div class="form-group">
          <input type="button" class="btn btn-default" value="登录" id="login-button">
          <span class="help-block login-error"></span>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/static/jquery-3.2.1.min.js"></script>
<!-- 引入封装了failback的接口--initGeetest -->
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script>
  var handlerPopup = function (captchaObj) {
    // 成功的回调
    captchaObj.onSuccess(function () {
      var validate = captchaObj.getValidate();
      $.ajax({
        url: "/login/", // 进行二次验证
        type: "post",
        dataType: "json",
        data: {
          csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
          username: $("#id_username").val(),
          password: $("#id_password").val(),
          geetest_challenge: validate.geetest_challenge,
          geetest_validate: validate.geetest_validate,
          geetest_seccode: validate.geetest_seccode
        },
        success: function (data) {
          if (data.status) {
            // 校验有错误
            $(".login-error").text(data.msg);
          } else {
            location.href = "/index/"
          }
        }
      });
    });
    $("#login-button").click(function () {
      captchaObj.show();
    });
    // 将验证码加到id为captcha的元素里
    captchaObj.appendTo("#popup-captcha");
    // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
  };
  // 验证开始需要向网站主后台获取id，challenge，success（是否启用failback）
  $.ajax({
    url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
    type: "get",
    dataType: "json",
    success: function (data) {
      // 使用initGeetest接口
      // 参数1：配置参数
      // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
      initGeetest({
        gt: data.gt,
        challenge: data.challenge,
        product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
        // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
      }, handlerPopup);
    }
  });
</script>
<script>
  // 给每个input框绑定获取焦点之后清除之前错误提示的事件
  $("input.form-control").on("focus", function () {
    $(".login-error").text("");
  });

</script>
</body>
</html>