<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>  -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

</head>
<body>

<h3>简单的form</h3>

<form action="" method="post">
    用户名<input type="text" name="user">
    密码<input type="password" name="pwd">
    <input type="submit">
</form>


<h3>基于form表单的文件上传</h3>

<form action="" method="post" enctype="multipart/form-data">
     用户名<input type="text" name="user">
     头像  <input type="file" name="avatar">
    <input type="submit">
</form>

<h3> 基于Ajax文件上传</h3>

<form action="" method="post">
    用户名<input type="text" id="user">
    头像  <input type="file" id="avatar">
    <input type="button" class="btn" value="Ajax">
</form>



<script>
/*
    // Content-Type: application/json
    $(".btn").click(function(){
      $.ajax({
          url:"",
          type:"post",
          contentType:"application/json",
          data:JSON.stringify({  // json序列化 json字符串 body打印结果 b'{"a":1,"b":2}'
              a:1,
              b:2
          }),
          success:function(data){
              console.log(data)
          }
      })
  })
*/

/*
    // Content-Type: application/x-www-form-urlencoded;
    $(".btn").click(function(){
       $.ajax({
            url:"",
            type:"post",
            data:{         //  源数据 a=1&b=2
               a:1,
               b:2
           },
           success:function(data){
               console.log(data)
           }
        })
    })

*/


    // ajax上传文件
    $(".btn").click(function(){
        var formdata=new FormData();
        formdata.append("user",$("#user").val());
        formdata.append("avatar",$("#avatar")[0].files[0]);
        $.ajax({
            url:"",
            type:"post",
            contentType:false,  // 固定参数 不做任何编码
            processData:false,  // 固定参数  数据不做预处理
            data:formdata,      // 发送formdata对象
            success:function(data){
                console.log(data)
            }
        })
    })


</script>




</body>
</html>