<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
{#    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>#}
</head>
<body>
<h3>登陆页面</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="">
                {% csrf_token %}
                <div class="form-group">
                    <lable for="user">用户名</lable>
                    <input type="text" id="user" class="form-control">
                </div>
                <div class="form-group">
                    <lable for="pwd">密码</lable>
                    <input type="password" id="pwd" class="form-control">
                </div>
                <div class="form-group">
                    <lable for="">验证码</lable>
                    <div class="row">
                        <div class="col-md-6">
                        <input type="text" id="valid_code" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img src="/get_validCode_img/" alt="" id="valid_code_img" width="270" height="36">
                        </div>
                    </div>

                </div>
                <input type="button" value="登陆" class="btn btn-default login_btn"> <span class="error"></span>
                <a href="/register" class="btn btn-success pull-right">注册</a>
            </form>
        </div>
    </div>
</div>

</body>

<script>
    // 刷新验证码
    $('#valid_code_img').click(function(){
        $(this)[0].src += '?'
    })

    // 登录验证
    $(".login_btn").click(function () {
        $.ajax({
            url: "",
            type: "post",
            data: {
                user: $("#user").val(),
                pwd: $("#pwd").val(),
                valid_code: $("#valid_code").val(),
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (data) {
                console.log(data);
                if (data.user) {
                    // search 属性是一个可读可写的字符串，可设置或返回当前 URL 的查询部分（问号 ? 之后的部分）。
                    // slice(start, end) 方法可提取字符串的某个部分，并以新的字符串返回被提取的部分。
                    console.log(location.search)
                    console.log(location.search.slice(6))
                    if (location.search){
                        location.href = location.search.slice(6)
                    }
                    else {
                         location.href = "/index/"  //跳转地址
                    }
                }
                else {
                    $(".error").text(data.msg).css({"color": "red", "margin-left": "10px"});
                    setTimeout(function(){
                         $(".error").text("");
                    },1000)
                }

            }
        })
    })

</script>
</html>