{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">用例通过相关</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div id="areaChart"
                     style="min-height: 250px; height: 400px; max-height: 450px; max-width: 100%;"></div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    {% csrf_token %}
{% endblock %}

{% block js %}
    <script src="{% static 'echarts.min.js' %}"></script>
    <script>


        function pie(title, data) {
            // 1. 实例化 echarts 对象
            PieObj = echarts.init(document.getElementById("areaChart"));
            // 2， 配置参数
            PieObjOption = {
                title: {
                    // text: '某站点用户访问来源',
                    // subtext: '纯属虚构',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: title
                },
                series: [
                    {
                        name: '用例',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            // 3. setoption
            PieObj.setOption(PieObjOption);
        }


        function init() {
            $.ajax({
                "url": "{% url 'show_tab' %}",
                "type": "POST",
                "data": {"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()},
                success: function (data) {
                    pie(data['pie']['title'], data['pie']['data'])
                }
            })
        }
        init()

    </script>



{% endblock %}
