{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>示例1：直接通过秘钥进行上传文件</h1>
    <input type="file" name="upload_file" id="uploadFile" multiple />

    <script src="{% static 'js/jquery-3.4.1.min.js' %} "> </script>
    <script src="{% static 'js/cos-js-sdk-v5.min.js' %} "> </script>
    <script>
        var cos;
        $(function () {
            initCOS();
            bindChangeFileInput();
        });

        function initCOS() {
            cos = new COS({
                SecretId: 'AKIDFPJSXQEk8PXVL3Tx5zf6MSL0Sf7Qoikg',
                SecretKey: 'yiCWfZCXcQxJZlqncKvRu5DKHySg8sMp',
            });
        }

        function bindChangeFileInput() {
            $("#uploadFile").change(function () {
                // 获取要上传的所有文件对象列表
                var files = $(this)[0].files;
                $.each(files, function (index, fileObject) {
                    var fileName = fileObject.name;
                    // 上传文件
                    cos.putObject({
                        Bucket: 'wangyang-1251317460', /* 必须 */
                        Region: 'ap-chengdu',     /* 存储桶所在地域，必须字段 */
                        Key: fileName,              /* 必须 */
                        StorageClass: 'STANDARD',
                        Body: fileObject, // 上传文件对象
                        onProgress: function (progressData) {
                            console.log("文件上传进度--->",fileName,JSON.stringify(progressData));
                        }
                    }, function (err, data) {
                        console.log(err || data);
                    });

                })

            })
        }
    </script>
</body>

</html>