{% extends 'layout.html' %}
{% load rbac %}

{% block content %}

    <div class="luffy-container">

        {% if request|has_permission:'payment_add' %}
            <div style="margin: 5px 0;">
                <a class="btn btn-success" href="{% url 'payment_add' %}">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> 添加缴费记录
                </a>
            </div>
        {% endif %}

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>客户姓名</th>
                <th>金额</th>
                <th>付费时间</th>
                {% if request|has_permission:'payment_edit' or request|has_permission:'payment_del' %}
                    <th>选项</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.customer.name }}</td>
                    <td>{{ row.money }}</td>
                    <td>{{ row.create_time|date:"Y-m-d H:i:s" }}</td>
                    {% if request|has_permission:'payment_edit' or request|has_permission:'payment_del' %}
                        <td>
                            {% if request|has_permission:'payment_edit' %}
                                <a style="color: #333333;padding: 0 3px;" href="{% url 'payment_edit' pid=row.id %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if request|has_permission:'payment_del' %}
                                <a style="color: #d9534f;padding: 0 3px;" href="{% url 'payment_del' pid=row.id %}"><i
                                        class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}