{% extends 'head.html' %}

{% block content %}
    <h3>查看书籍</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>书籍名称</th>
                        <th>价格</th>
                        <th>出版日期</th>
                        <th>出版社</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in book_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.price }}</td>
                            <td>{{ book.publishDate|date:"Y-m-d" }}</td>
                            <td publish_pk="{{ book.publish.pk }}">
                                <a href="/books/publish/{{ book.publish.pk }}/">{{ book.publish.name }}</a>
                            </td>
                            <td>
                                {% for author in book.authors.all %}
                                    {% if forloop.last %}
                                        <span author_id="{{ author.pk }}"><a
                                                href="/books/author/{{ author.pk }}/">{{ author.name }}</a></span>
                                        <!-- 最后一次不加, -->
                                    {% else %}
                                        <span author_id="{{ author.pk }}"><a
                                                href="/books/author/{{ author.pk }}/">{{ author.name }}</a></span>,
                                    {% endif %}

                                {% endfor %}

                            </td>

                            <td>
                                <a class="btn btn-warning btn_change" book_pk="{{ book.pk }}">编辑</a>
                                <a href="/books/{{ book.pk }}/delete/" class="btn btn-danger">删除</a>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑</h4>
                </div>
                <div class="modal-body">
                    <form class=" ">
                        {% csrf_token %}
                        <div class="form-group ">
                            <label for="title">书名</label>
                            <input type="text" class="form-control " id="title" disabled>
                        </div>
                        <div class="form-group">
                            <label for="price">价格</label>
                            <input type="text" class="form-control" id="price">
                        </div>
                        <div class="form-group">
                            <label for="pub_date">出版时间</label>
                            <input type="date" class="form-control" id="pub_date">
                        </div>
                        <div class="form-group">
                            <label for="publish">出版社</label>
                            <select name="publish" id="publish" class="form-control">
                                {% for publish in publish_list %}
                                    <option value="{{ publish.pk }}">{{ publish.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">作者</label>
                            <select type="text" name="authors_id_list" multiple="multiple" class="form-control">
                                {% for author in author_list %}

                                    <option value="{{ author.pk }}">{{ author.name }}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_change">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        // 编辑弹出模态框修改
        $('.btn_change').click(function () {
            var title = $(this).parent().parent().children().eq(1).text()
            var price = $(this).parent().parent().children().eq(2).text()
            var pub_date = $(this).parent().parent().children().eq(3).text()
            var publish = $(this).parent().parent().children().eq(4).text()
            var publish_pk = $(this).parent().parent().children().eq(4).attr('publish_pk')
            $('.modal-body #title').val(title)
            $('.modal-body #price').val(price)
            $('.modal-body #pub_date').val(pub_date)
            // 选择默认的出版社
            $("#publish").find("option[value = '" + publish_pk + "']").attr("selected", "selected")
            // 选择默认的作者
            $(this).parent().prev().children().each(function (i, oldelement) {
                $(this).attr('author_id')
                $("[name=authors_id_list]").find("option[value ='"+ $(this).attr('author_id') +"']").attr("selected",true)
            })

            /*
            var book_pk = $(this).attr('book_pk')
            console.log(book_pk)
              $.ajax({
                  url:'/books/change2/',
                  type:'post',
                  data:{
                      book_pk:book_pk,
                      csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),
                  },
                  success:function (data) {
                       console.log(data)
                  }

            }) */
            $("#myModal").modal("show")
        })

        // 模态框隐藏后操作
        $('#myModal').on('hidden.bs.modal', function (e) {
            // 清除模态框中出版社所有选项
            $("[name='publish']").children().attr('selected',false)

            //清楚模态框中所有选择的作者
            $("[name='authors_id_list']").children().attr('selected',false)
        })
        // 保存修改
        $('#save_change').click(function () {
            var title = $("#title").val()
            var price = $("#price").val()
            var pub_date = $("#pub_date").val()
            //var publish_pk = $('#publish').find('option[selected="selected"]').val()  // 这种取值是旧的
            var publish_pk = $('#publish').val()   // 默认取的选中的 pushlish的value值
            var author_list = $('[name="authors_id_list"]').val()
            //var author_list = new Array()  // 作者id数组  这种取值方式是旧值
            // $('[name="authors_id_list"]').find("option[selected='selected']").each(function (i,oldelement) {
            //    author_list[i] = $(this).val()
            //})
            console.log(title,price,pub_date,publish_pk,author_list)

            $.ajax({
                url: '/book/edit/',
                type: 'post',
                data: {
                    title:title,
                    price:price,
                    pub_date:pub_date,
                    publish_pk:publish_pk,
                    author_list: JSON.stringify(author_list),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    console.log(data)
                    if (data.state) {
                        location.href='/books/'
                    }else {
                        alert('修改出错了')
                    }

                }
            })
        })


    </script>


{% endblock %}


