{% extends "student/base.html" %}




{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>学生管理</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <p><a class="btn btn-info" href="/student/add/">添加学生</a></p>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>年龄</th>
                                <th>性别</th>
                                <th>生日</th>
                                <th>班级</th>
                                <th>选修课程</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in student_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.age }}</td>
                                    <td>{{ student.get_sex_display }}</td>
                                    <td>{{ student.birthday|date:'Y-m-d' }}</td>
                                    <td>{{ student.clas.name }}</td>
                                    <td>
                                        {% for course in student.courses.all %}
                                            <button class="btn btn-sm btn-success">{{ course.title }}</button>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a class="btn-sm btn-warning" href="/student/edit/{{ student.pk }}">编辑</a>
                                        <a class="btn-sm btn-danger" href="/student/delete/{{ student.pk }}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}