<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>


</head>
<body>

    <div id="player"></div>

    <script src="//player.polyv.net/script/player.js"></script>
    <script>
      var player = polyvPlayer({
        wrap: '#player',
        width: 800,
        height: 533,
        vid: '03b56854c0e149a81c1d6258be4d64c2_0',
          playsafe: function (vid, next) {
              axios.request({
                  url: "http://127.0.0.1:8008/api/course/polyv",
                  method: "POST",
                  data: {
                      vid: vid
                  }
              }).then(function (res) {
                  console.log(res);
              })
          }
      });
    </script>


</body>
</html>