<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <caption class="text-center">图书列表</caption>
        <p><a href="/addbook/" class="btn btn-primary">添加书籍</a></p>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>书名</th>
                <th>出版时间</th>
                <th>价格</th>
                <th>作者</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for book in authorlist %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.pub_date |date:"Y-m-d" }}</td>
                    <td>{{ book.price }}</td>
                    <td><a href="/books/{{ book.author }}/authorlist">{{ book.author }}</a></td>
                    <td><a href="/books/{{ book.publish }}/publishlist">{{ book.publish }}</a></td>
                    <td>
                        <a href="/books/{{ book.pk }}/delete" class="btn btn-danger">删除</a>
                        <a href="/books/{{ book.pk }}/change" class="btn btn-info">修改</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
</body>
</html>