<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <caption class="text-center">图书列表</caption>
        <p><a href="/addbook/" class="btn btn-primary">添加书籍</a></p>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>书名</th>
                <th>出版时间</th>
                <th>价格</th>
                <th>作者</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for book in book_list %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.pub_date |date:"Y-m-d" }}</td>
                    <td>{{ book.price }}</td>
                    <td><a href="/books/{{ book.author }}/authorlist">{{ book.author }}</a></td>
                    <td><a href="/books/{{ book.publish }}/publishlist">{{ book.publish }}</a></td>
                    <td>
                        <a href="/books/{{ book.pk }}/delete" class="btn btn-danger">删除</a>
                        <a href="/books/{{ book.pk }}/editbook" class="btn btn-info">修改</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">修改图书</h4>
        </div>
        <div class="modal-body">
            <form class=" ">
                <div class="form-group ">
                    <label for="title" >书名</label>
                    <input type="text" class="form-control " id="title" name='title' placeholder="title">
                </div>
                <div class="form-group">
                    <label for="pub-date" >出版时间</label>
                    <input type="text" class="form-control" id="pub-date" name="pub-date" placeholder="">
                </div>
                <div class="form-group">
                    <label for="price" >价格</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="">
                </div>
                <div class="form-group">
                    <label for="author" >作者</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="">
                </div>
                <div class="form-group">
                    <label for="publish" >出版社</label>
                    <input type="text" class="form-control" id="publish" name="publish" placeholder="">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary keep_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>