<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registry</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h2>注册用户</h2>
            <form action="" method="post" class="form ">
                {% csrf_token %}
                <lable for="uname">用户名</lable>
                <input type='text' id="uname" name="uname">
                <br>
                <lable for="pwd">密码</lable>
                <input type="text" id="pwd" name="pwd">
                <br>
                <input type="submit" value="注册">
            </form>
        </div>

    </div>
</body>
</html>