<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>


<ul>
    {% for book in page %}
        <li>{{ book.title }}:{{ book.price }}</li>
    {% endfor %}
</ul>

<nav aria-label="Page navigation">
    <ul class="pagination">

        {% if page.has_previous %}
            <li>
                <a href="/books?page={{ page.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>

        {% endif %}


        {% for i in paginator.page_range %}
            {% if i == visit_page_num %}
                <li class="active"><a href="/books/?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li><a href="/books/?page={{ i }}">{{ i }}</a></li>
            {% endif %}


        {% endfor %}


        {% if page.has_next %}
            <li>
                <a href="/books?page={{ page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>


</body>
</html>