{% extends "student/base.html" %}


{% block "title"%}
<title>班级</title>
{% endblock%}



{% block "content"%}
<div class="col-md-8 col-md-offset-2">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>班级名称</th>
                <th>开始日期</th>
                <th>结束日期</th>
                <th>班主任</th>
                <th width="150px">操作</th>
            </tr>
        </thead>
        <tbody class="list-tbody">
            {% for class in classlist%}
            <tr>
                <td scope="row">{{class.id}}</td>
                <td>{{class}}</td>
                <td>{{class.start_date|date:'Y-m-d'}}</td>
                <td>{{class.graduate_date|date:'Y-m-d'}}</td>
                <td>{{class.class_teacher}}</td>
                <td><button value="{{class.id}}" class="btn btn-info btn-sm btn-view">查看作业</button></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock%}






{% block "other"%}
<script>
    $(function () {
        // 查看作业列表
        $(".list-tbody").on('click', '.btn-view', function () {
            var id = $(this).val();
            location.href = "/stu/course_record/list/" + id;
            return false;
        });
    });

</script>
{% endblock%}