<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
    <script src="/static/bs/js/jquery3.6.js"></script>
    <script src="/static/bs/js/bootstrap.js"></script>
</head>
<style>
    .header{
        background-color: cadetblue;
        height: 60px;
    }
    .header .title{
        font-size: 18px;
        line-height: 60px;
        color:whitesmoke;
    }
</style>
<body>
<div class="header">
    <p class="title">
        <span>后台管理</span>
        <span><a href="/books/" class="btn btn-primary">图书列表</a></span>
        <span><a href="/books/add/" class="btn btn-primary">添加图书</a></span>
        <span><a href="/publish/" class="btn btn-primary">出版社管理</a></span>
        <span><a href="/authors/" class="btn btn-primary">作者管理</a></span>

        <a class="info pull-right" href="/logout/">注销</a>&nbsp;&nbsp;
        <span class="info pull-right">用户名:&nbsp;&nbsp;{{ request.user.username }}&nbsp;&nbsp;</span>&nbsp;&nbsp;
    </p>
</div>

{% block content %}
    content
{% endblock %}

</body>
</html>